*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: black;
}

body{
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
}

input {
    padding: 10px;
    border: 2px solid white;
    min-width: 400px;
    font-size: 20px;
    margin-bottom: 1rem;
}

button{
    border: none;
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    background: white;
    cursor: pointer;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}